<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1>Welcome to the home page!</h1>
            </div>
            <div class="text-center">
                <input class="form-control" [(ngModel)]="name"/>
                <hr>
                <button [hidden]="name.length == 0"
                        class="btn btn-primary btn-block" (click)="onClickMe()">
                    Click me!
                </button>
                <hr>
                <div [hidden]="msg.length == 0"
                     class="text-center">
                    <h4>Message from server: {{msg}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>